body{
    background-color: white;
}
select{
    font-size: 28px;
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}
label{
    text-align: center;
    height: 100px;
}
button{
    font-size: 24px;
    width: 250px;
    height: 36px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #cdc;
}
input[type="text"],input[type="number"]{
    width: 120px;
    height: 40px;
    margin: 15px auto;
}
#SVGScreen{
    margin: 0 auto;
}
.ruleSentence{
    color: black;
    font-family: serif;
    font-size: large;
}
#RoomSettingWrap{
    width: 780px;
    height: 780px;
    margin: 8px auto;
}
#RoomSetting{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid #aaa;
    background-color: rgb(190, 244, 255);
}
#teacher{
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    width: 300px;
    height: 43px;
    text-align: center;
    margin: 10px auto;
    border: 1px solid #aaa;
}
.desks{
    width: 100px;
    height: 60px;
    margin: 8px 8px 8px 8px;
    border-radius: 5px;
}
div[data-removed="false"]{
    background-color: darkseagreen;
    border: 2px solid #aaa;
    box-shadow: 0 1px 2px
}
div[data-removed="true"]{
    background-color:rgb(190, 244, 255);
    border: 2px solid rgba(0, 0, 0,0.1);
}
.hiddenElement{
    display: none;
    }
.blockElement{
    display: block;
}
.rotation{
    transform: translateY(10em) rotateZ(90deg);
}
#optionButtons{
    width: 290px;
    margin: 0 10px 4px auto;
    padding: 5px;
}
